<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>
    <Style>
        body {padding: 30px}
        tbody {
            font-size: 90%;
            font-style: italic;
        }
        tfoot {
            font-weight: bold;
        }
    </Style>
</head>
<body>
<div>
    <br/>
        <form th:method="GET" th:action="@{/logout}">
            <input style="background-color: LightCoral" type="submit" value="Log out"/>
        </form>
    <br/>
    <br/>
    <a>
        <form th:method="GET" th:action="@{/admin/new}">
            <input type="submit" value="Add new user"/>
        </form>
    </a>
    <br/>
    <table class="table table-striped" border = "0" title="1" width = "60%">
        <colgroup>
            <col style="width:10%">
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:10%">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Age</th>
            <th scope="col">Role</th>
            <th scope="col">      </th>
            <th scope="col">      </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td align="center" th:text="${user.getAge()}"></td>
            <td>
                <ul>
                    <li th:each="role: ${user.getRoles()}" th:text="${role}"></li>
                </ul>
            </td>
            <td align="center">
                <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
            <td align="center">
                <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>