<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<br/>
<form th:method="GET" th:action="@{/logout}">
    <input style="background-color: LightCoral" type="submit" value="Log out"/>
</form>
<br/>
<br/>
<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <label for="username">Username:</label>
    <input  type="text" th:field="*{username}" id="username" required/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <!-- <input type="text" th:field="*{password}" id="password"/> -->
    <br/>
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/>
    <br/>
    <input style="background-color: LightCyan" type="submit" value="Update"/>
</form>
</body>
</html>