<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
    <title>Index</title>
    <style>
        body, html {
            width: 100%;
            height: 100%;
            color: black;
        }
        label{
            font-weight: bold;
        }
        #nav-length{
            min-height: 100%;
        }
    </style>
</head>

<body style="background-color: WhiteSmoke">
<div class="container-fluid bg-dark text-light sticky-top">
    <div class="row justify-content-between">
        <div class="col-10">
            <ul class="list-inline pt-3"  style="font-size: 20px">
                <li class="list-inline-item" style="font-weight: bold" th:text="${currentUser.getUsername()}">username</li>
                <li class="list-inline-item" style="font-weight: lighter">with roles:</li>
                <li class="list-inline-item" style="font-weight: lighter"
                    th:each="role : ${currentUser.getRoles()}"  th:text="${role.name}"></li>
            </ul>
        </div>
        <div class="col-2 align-self-center">
            <form th:method="GET" th:action="@{/logout}">
                <input class="btn btn-link text-light" type="submit" value="Log out"/>
            </form>
        </div>
    </div>
</div>

<div id="nav-length" class="row">
    <div class="col-2 pr-0 pl-2" style="background-color: white">
        <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" th:data-userId="${currentUser.id}" aria-selected="false">User</a>
        </div>
    </div>

    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="container">
                <div class="row mt-3">
                    <div class="col-md-12 pb-1">
                        <h4>Admin panel</h4>
                    </div>
                </div>
                </div>
                <div class="container">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><button id="usersTableTabBtn" class="nav-link active" href="#usersTablePanel" data-toggle="tab">Users table</button></li>
                            <li class="nav-item" role="presentation"><button id="newUserTabBtn" class="nav-link" href="#newUser" data-toggle="tab">New User</button></li>
                        </ul>
                    </div>

                    <!--СОДЕРЖИМОЕ ВКЛАДОК USERs TABLE и NEW USER-->
                    <div class="row">
                        <div class="tab-content col-md-12" id="myTabContent">
                            <!--ВКЛАДКА USERs TABLE-->
                            <div class="tab-pane fade show active" id="usersTablePanel" role="tabpanel" aria-labelledby="usersTable-tab" >
                                <div class="row border pt-2">
                                    <div class="col-md-12">
                                        <h5>All users</h5>
                                    </div>
                                </div>
                                <div class="row justify-content-md-left border py-3" style="background-color: white">
                                    <div class="col-md-12">
                                        <table id="usersTable" class="table table-striped" border = "0" title="1">
                                            <colgroup>
                                                <col style="width:10%">
                                                <col style="width:25%">
                                                <col style="width:15%">
                                                <col style="width:30%">
                                                <col style="width:10%">
                                                <col style="width:10%">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--ВКЛАДКА NEW USER -->
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                                <div class="row justify-content-md-left border rounded-1 pt-2" style="background-color: WhiteSmoke">
                                    <div class="col-md-12">
                                        <h5>Add new user</h5>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center border py-3" style="background-color: white">
                                    <div class="col-md-4">
                                        <form id="newUserForm">
                                            <div class="form-group">
                                                <div class="text-center" style="vertical-align: bottom">
                                                    <label for="username-add">Username</label>
                                                </div>
                                                <input type="text" class="form-control form-control-sm" placeholder="Username" id="username-add" name="username" required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-center">
                                                    <label for="password-add">Password</label>
                                                </div>
                                                <input type="password" class="form-control form-control-sm" placeholder="Password" id="password-add" name="password" required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-center">
                                                    <label for="age-add">Age</label>
                                                </div>
                                                <input type="text" class="form-control form-control-sm" placeholder="Age" id="age-add" name="age"/>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-center">
                                                    <label for="roles-add">Role</label>
                                                </div>
                                               <select class="form-control" id="roles-add" multiple size="2" name="roles">
                                                   <option th:each="role : ${allRoles}"  th:text="${role.name}" th:value="${role.id}"></option>
                                                </select>
                                            </div>
                                            <div class="text-center">
                                                <button id="addNewUserBtn" type="button" class="btn btn-success">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--МОДАЛЬНОЕ ОКНО ДЛЯ EDIT И DELETE -->
                    <div class="modal fade" id="userDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="userDialogLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content col-md-10">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="userDialogLabel"></h5>
                                    <button id="closeUserDialogInHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="container">
                                    <div class="modal-body content-md-center">
                                        <form id="form-element">
                                            <div class="container col-md-8">
                                                <div class="form-group">
                                                    <div class="text-center">
                                                        <label for="id">ID</label>
                                                    </div>
                                                    <input  type="text" readonly class="form-control form-control-sm" id="id" name="id"/>
                                                </div>
                                                <div class="form-group">
                                                    <div class="text-center">
                                                        <label for="username">Username</label>
                                                    </div>
                                                    <input  type="text" class="form-control form-control-sm" id="username" name="username" required/>
                                                </div>
                                                <div id = "password-form" class="form-group">
                                                    <div class="text-center">
                                                        <label for="password">Password</label>
                                                    </div>
                                                    <input type="password" class="form-control form-control-sm"  id="password" name="password"/>
                                                </div>
                                                <div class="form-group">
                                                    <div class="text-center">
                                                        <label for="age">Age</label>
                                                    </div>
                                                    <input type="text" class="form-control form-control-sm" id="age" name="age"/>
                                                </div>
                                                <div class="form-group">
                                                    <div class="text-center">
                                                        <label for="roles">Role</label>
                                                    </div>
                                                    <select class="form-control" id="roles" name="rolesEdit" multiple size="2">
                                                        <option th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="closeUserDialog" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button id="userDialogButton" type="button" class="btn btn-primary" data-dismiss="modal"></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- USER PAGE-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="container">
                <div class="row pt-3">
                    <div class="col-md-12 pb-1">
                        <h4>User information-page</h4>
                    </div>
                </div>
                </div>
                <div class="container">
                    <div class="row justify-content-md-left border pt-2 pl-3">
                        <div class="col-md-12">
                            <h5>About user</h5>
                        </div>
                    </div>
                    <div class="row justify-content-md-center border py-3" style="background-color: white">
                        <div class="col-md-12">
                            <table class="table table-striped" border = "0" title="1">
                                <colgroup>
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:20%">
                                    <col style="width:50%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="align-middle" th:text="${currentUser.getId()}"></td>
                                    <td class="align-middle" th:text="${currentUser.getUsername()}"></td>
                                    <td class="align-middle" th:text="${currentUser.getAge()}"></td>
                                    <td>
                                        <ul class="list-inline">
                                            <li class="list-inline-item align-middle mt-3" th:each="role: ${currentUser.getRoles()}" th:text="*{role}"></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/app.js" type="text/javascript"></script>
</body>
</html>