<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>New</title>
    <style>
        body, html, #wrapper {
            width: 100%;
            position: relative;
            height: 100%;
            /*font-family: 'Poppins', sans-serif;*/
            color: black;
        }

        label{
            font-weight: bold;
        }
    </style>
</head>

<body style="background-color: WhiteSmoke">
<div class="container-fluid bg-dark text-light sticky-top">
    <div class="row justify-content-between align-self-center">
        <div class="col-10 align-self-center">
            <ul class="list-inline pt-3"  style="font-size: 20px">
                <li class="list-inline-item" style="font-weight: bold" th:text="${currentUser.getUsername()}">username</li>
                <li class="list-inline-item" style="font-weight: lighter">with roles:</li>
                <li class="list-inline-item" style="font-weight: lighter" th:each="role, iterStat : ${currentUser.getRoles()}" th:text="*{role}">
                    roles
                </li>
            </ul>
        </div>
        <div id="main" class="col-2 align-self-center">
            <form th:method="GET" th:action="@{/logout}">
                <input class="btn btn-link text-light" type="submit" value="Log out"/>
            </form>
        </div>
    </div>
</div>

<div class="row mt-3 ml-3" style="color: crimson">
    <h4>You don't have user or admin authorities</h4>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>