<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <Style>
        tbody {
            font-size: 90%;
            font-style: italic;
        }
        tfoot {
            font-weight: bold;
        }
    </Style>
</head>
<body>
<div>
    <br/>
    <form th:method="GET" th:action="@{/logout}">
        <input style="background-color: LightCoral" type="submit" value="Log out"/>
    </form>
    <br/>
    <br/>
    <table border = "0" title="1" width = "40%">
        <!-- <table border = "0" title="1" width = "40%"  style=”margin-left:10px> -->
        <colgroup>
            <col style="width:10%">
            <col style="width:20%">
            <col style="width:20%">
            <col style="width:10%">
            <col style="width:20%">
        </colgroup>
        <thead>
        <tr style="background-color: MediumTurquoise">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Age</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: PaleTurquoise">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td align="center" th:text="${user.getAge()}"></td>
            <td>
                <ul>
                    <li th:each="role: ${user.getRoles()}" th:text="${role}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>